.body{
    font-family: 'Twinkle Star', cursive;
}

#fish, #chicken, #beef, #top{
    font-weight: 800;
}

p{
    background-color: rgb(248, 219, 182);
    padding: 10px;
}

@media(min-width:768px) and (max-width:991px){

   
}

@media(min-width:767px){

    .dropdown, .topLink, .navbar {
        display:none;
    }

    
}